@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#pesquisa{
    height: 5vh;
}

#botao{
    height: 5vh;
    padding: 7px;
    border-radius: 15px;
    color: yellow;
    background-color: green;
    font-weight: bold;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    height: 20vh;
   width: 100%;
    text-align: center;
    padding: 20px 20px;
   margin-bottom: 10px;
   background-color: rgba(59, 239, 59, 0.415);
   
   font-size: 2em;

}

.logo{
    height: 15vh;
    width: 8vw;
}

h1{
    font-family: 'Playfair Display', serif;
    color: #daa520;
    text-shadow: 1px 1px 1px black;
}

#search{
    margin: 20px 20px;
}




img{
    height: 20vh;
    width: 10vw;
    border: 3px solid yellow;
    box-shadow: 0px 2px black;
    border-radius: 10px;
    margin: 0;
}

li{
    padding: 3px;
    list-style: none;
    text-align: left;
    font-weight: bold;
    
}

body{
    
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-around;
    text-align: center;
    
    
}

main{
    
   background-color: yellow;
    
    height: 100vh;
    width: 100vw;
}

.lista{

    display: flex;
    justify-content: center;
    align-items: center;
}

.listaJogador{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
    gap: 0.3vw;
    flex-wrap: wrap;
   
}

.cardJogador{
    display: flex;
    flex-direction: row;
    border: 2px solid green;
    border-radius: 10px;
    margin-top: 2vh;
    padding: 20px;
    width: 30vw;
    height: 32vh;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.833);
    color: green;
    background-image: linear-gradient(rgba(0, 0, 255, 0.585), rgba(255, 255, 0, 0.585), rgba(0, 128, 0, 0.585));
    box-shadow: 2px 2px rgba(0, 0, 0, 0.382);
   
   
}

footer{
    
    padding: 20px;
    background-color: black;
    font: normal, bold, medium, arial helvetica sans-serif;
    color: white;
    
}


a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
    color: white;
}




@media screen and (max-width: 800px) {
    .listaJogador{
        flex-direction: row;
        flex-wrap: wrap;
        

    }

    .cardJogador{
        flex-direction: column;
        width: 45vw;
    }

    img{
        height: 30vh;
        width: 25vw;
        border-radius: 10px;
        margin: 0;
    }

 
    
}

@media screen and (max-width: 600px) {
    .listaJogador{
        flex-direction: column;
        flex-wrap: wrap;
        

    }

    .cardJogador{
        flex-direction: row;
        width: 70vw;
    }

    img{
        height: 25vh;
        width: 20vw;
        border-radius: 10px;
        margin: 0;
    }

 
    
}

@media screen and (max-width: 300px){
    .listaJogador{
        flex-direction: column;
        

    }

    .cardJogador{
        flex-direction: column;
        width: 70vw;
    }

    img{
        width: 90%;
    }
}