@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    height: 20vh;
   width: 100%;
    text-align: center;
    padding: 20px 20px;
   margin-bottom: 10px;
   background-color: rgba(59, 239, 59, 0.415);

}

.logo{
    height: 15vh;
    width: 8vw;
}

h1{
    font-family: 'Playfair Display', serif;
    color: #daa520;
    text-shadow: 1px 1px 1px black;
}

#search{
    margin: 20px 20px;
}




img{
    height: 20vh;
    width: 10vw;
    border-radius: 10px;
    margin: 0;
}

li{
    padding: 5px;
    list-style: none;
    text-align: left;
    font-weight: bold;
    
}

body{
    
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-around;
    text-align: center;
    
}

main{
    background-color: rgb(248, 248, 28);
}

.lista{

    display: flex;
    justify-content: center;
    align-items: center;
}

.listaJogador{
    display: flex;
    flex-direction: row;
    justify-items: auto;
    justify-content: space-around;
    align-items: center;
    gap: 1vw;
    flex-wrap: wrap;
   
}

.cardJogador{
    display: flex;
    flex-direction: row;
    border: 2px solid green;
    border-radius: 10px;
    margin-top: 2vh;
    padding: 20px;
    width: 30vw;
    /* height: 60vh; */
    justify-content: space-around;
    background-color: greenyellow;
   
   
}

footer{

    padding: 20px;
    background-color: black;
    font: normal, bold, medium, arial helvetica sans-serif;
    color: white;
}


a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
    color: white;
}




@media screen and (max-width: 800px) {
    .listaJogador{
        flex-direction: row;
        flex-wrap: wrap;
        

    }

    .cardJogador{
        flex-direction: column;
        width: 45vw;
    }

    img{
        height: 30vh;
        width: 25vw;
        border-radius: 10px;
        margin: 0;
    }

 
    
}

@media screen and (max-width: 600px) {
    .listaJogador{
        flex-direction: column;
        flex-wrap: wrap;
        

    }

    .cardJogador{
        flex-direction: row;
        width: 70vw;
    }

    img{
        height: 30vh;
        width: 25vw;
        border-radius: 10px;
        margin: 0;
    }

 
    
}

@media screen and (max-width: 300px){
    .listaJogador{
        flex-direction: column;
        

    }

    .cardJogador{
        flex-direction: column;
        width: 70vw;
    }

    img{
        width: 90%;
    }
}